<%= stylesheet_link_tag 'page/form.css' %>
<%= stylesheet_link_tag 'page/disciplina_form.css' %>

<%= simple_form_for(@disciplina, html: {class: "disciplina-container"}) do |f| %>
  <div class="main-form-container">
    <h1>Disciplina</h1>
    <div class="container-form-fields">
      <div class="field-with-icon">
        <%= inline_svg 'Book.svg', alt: "Book Icon", class: "custom-input-icon" %>
        <%= f.text_field :nome, required: true, autofocus: true, autocomplete: "nome_disciplina", placeholder: "Nome da Disciplina", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Clock.svg', alt: "Clock Icon", class: "custom-input-icon" %>
        <%= f.number_field :carga_horaria, required: true, autofocus: true, autocomplete: "carga_horaria", placeholder: "Carga Horária", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Book.svg', alt: "Book Icon", class: "custom-input-icon" %>
        <%= f.number_field :creditos, required: true, autofocus: true, autocomplete: "creditos", placeholder: "Créditos", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Calendar.svg', alt: "Calendar Icon", class: "custom-input-icon" %>
        <%= f.number_field :faltas, required: true, autofocus: true, autocomplete: "faltas", placeholder: "Faltas", class: "custom-input" %>
      </div>
    </div>
  </div>
  <div class="main-form-container">
    <h1>Conteúdo Programático</h1>
    <div id="topicos_fields" class="container-form-fields">
        <%= f.fields_for :topicos do |topico_form| %>
          <div class="field-with-icon nested-fields">
            <%= inline_svg 'Edit.svg', alt: "Edit Icon", class: "custom-input-icon" %>
            <%= topico_form.text_field :nome, required: true, autofocus: true, autocomplete: "topico", placeholder: "Conteúdo Programático", class: "custom-input topico-nome" %>
          </div>
        <% end %>
    </div>
    <%= f.button :submit, "Cadastrar", class: "submit" %>
  </div>
  <div class="main-form-container">
    <h1>Avaliações</h1>
    <div class="container-form-fields">
      <% if @disciplina.avaliacaos.any? %>
      <ul>
        <% @disciplina.avaliacaos.each do |avaliacao| %>
          <li>
            <%= avaliacao.nome %> - 
            <%= link_to 'Edit', edit_avaliacao_path(avaliacao) %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Nenhuma avaliação está associada com essa disciplina.</p>
    <% end %>
    </div>
  </div>
<% end %>
