<%= stylesheet_link_tag 'page/form.css' %>

<div class="center-form-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "main-form-container"}) do |f| %>
    <h1>Período Fácil</h1>

    <div class="container-form-fields">
      <div class="field-with-icon">
        <%= inline_svg 'User.svg', alt: "User Icon", class: "custom-input-icon" %>
        <%= text_field_tag "#{resource_name}[username]", resource.username, 
          required: true, autofocus: true, autocomplete: "nickname", placeholder: "Username", 
          class: "custom-input #{'input-with-error' if resource.errors[:username].present?}"
        %>
        <% if resource.errors[:username].present? %>
          <div class="error-icon">
            <%= inline_svg 'Error.svg', alt: "Error Icon" %>
          </div>
          <div class="error-message"><%= resource.errors[:username].join(", ") %></div>
        <% end %>
      </div>      

      <div class="field-with-icon">
        <%= inline_svg 'Email.svg', alt: "E-mail Icon", class: "custom-input-icon" %>
        <%= email_field_tag "#{resource_name}[email]", nil, 
          required: true, autofocus: true, autocomplete: "email", placeholder: "E-mail", 
          class: "custom-input #{'input-with-error' if resource.errors[:username].present?}"
        %>
        <% if resource.errors[:email].present? %>
          <div class="error-icon">
            <%= inline_svg 'Error.svg', alt: "Error Icon" %>
          </div>
          <div class="error-message"><%= resource.errors[:email].join(", ") %></div>
        <% end %>
      </div>
      
      <div class="field-with-icon">
        <%= inline_svg 'Book.svg', alt: "Curso Icon", class: "custom-input-icon" %>
        <%= text_field_tag "#{resource_name}[curso]", nil, 
          required: true, autofocus: true, autocomplete: "curso", placeholder: "Curso", 
          class: "custom-input #{'input-with-error' if resource.errors[:curso].present?}"
        %>
        <% if resource.errors[:curso].present? %>
          <div class="error-icon">
            <%= inline_svg 'Error.svg', alt: "Error Icon" %>
          </div>
          <div class="error-message"><%= resource.errors[:curso].join(", ") %></div>
        <% end %>
      </div>

      <div class="field-with-icon">
        <%= inline_svg 'Lock.svg', alt: "Lock Icon", class: "custom-input-icon" %>
        <%= password_field_tag "#{resource_name}[password]", nil, 
          required: true, autofocus: true, autocomplete: "new-password", placeholder: "Senha",
          hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
          class: "custom-input #{'input-with-error' if resource.errors[:curso].present?}" 
        %>
        <% if resource.errors[:password].present? %>
          <div class="error-icon">
            <%= inline_svg 'Error.svg', alt: "Error Icon" %>
          </div>
          <div class="error-message"><%= resource.errors[:password].join(", ") %></div>
        <% end %>
      </div>

      <div class="field-with-icon">
        <%= inline_svg 'Lock.svg', alt: "Lock Icon", class: "custom-input-icon" %>
        <%= password_field_tag "#{resource_name}[password_confirmation]", nil, 
          required: true, autofocus: true, autocomplete: "new-password", placeholder: "Confirme sua senha",
          class: "custom-input #{'input-with-error' if resource.errors[:password_confirmation].present?}" 
        %>
        <% if resource.errors[:password_confirmation].present? %>
          <div class="error-icon">
            <%= inline_svg 'Error.svg', alt: "Error Icon" %>
          </div>
          <div class="error-message"><%= resource.errors[:password_confirmation].join(", ") %></div>
        <% end %>
      </div>

      <%= f.button :submit, t(".sign_up"), class: "submit" %>
    </div>

    <div class="container-form-footer">
      <div class="divider">
        <hr>
        <span>OR</span>
        <hr>
      </div>
      <p class="sign-up">Já possui uma conta? <%= link_to "Log in", new_session_path(resource_name) %></p>
    </div>
  <% end %>
</div>