<%= stylesheet_link_tag 'page/form.css' %>

<div class="authentication-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <h1>Período Fácil</h1>
    
    <%= f.error_notification %>
    <div class="container-form-fields">
      <div class="field-with-icon">
        <%= inline_svg 'User.svg', alt: "User Icon", class: "custom-input-icon" %>
        <%= text_field_tag "#{resource_name}[username]", nil, 
          required: true, autofocus: true, autocomplete: "nickname", 
          placeholder: "Username", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Email.svg', alt: "E-mail Icon", class: "custom-input-icon" %>
        <%= text_field_tag "#{resource_name}[email]", nil, 
          required: true, autofocus: true, autocomplete: "email", 
          placeholder: "E-mail", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Lock.svg', alt: "Lock Icon", class: "custom-input-icon" %>
        <%= password_field_tag "#{resource_name}[password]", nil, 
          required: true, autofocus: true, autocomplete: "new-password", 
          hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
          placeholder: "Senha", class: "custom-input" %>
      </div>
      <div class="field-with-icon">
        <%= inline_svg 'Lock.svg', alt: "Lock Icon", class: "custom-input-icon" %>
        <%= password_field_tag "#{resource_name}[password_confirmation]", nil, 
          required: true, autofocus: true, autocomplete: "new-password", 
          placeholder: "Confirme sua senha", class: "custom-input" %>
      </div>

      <%= f.button :submit, t(".sign_up"), class: "submit" %>
    </div>

    <div class="container-form-footer">
      <div class="divider">
        <hr>
        <span>OR</span>
        <hr>
      </div>
      <p class="sign-up">Já possui uma conta? <%= link_to "Log in", new_session_path(resource_name) %></p>
    </div>
  <% end %>
</div>

<!-- <h2><%= t(".sign_up") %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true %>
    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up") %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->
