<div class="nav-bar">
  <div class="nav-content left">
    <div> <%= link_to "Logo", root_path, class: "nav-link" %> </div>
    <div> <%= link_to "Home", root_path, class: "nav-link" %> </div>
    <div> <%= link_to "Cadastrar Disciplina", new_disciplina_path, class: "nav-link" %> </div>
    <div> <%= link_to "Cadastrar Avaliação", new_avaliacao_path, class: "nav-link" %> </div>
  </div>
  <div class="nav-content middle">
    <%= yield :title %>
  </div>
  <div class="nav-content right">
    <%= inline_svg 'dropd1.svg', alt: "DropDown Menu Icon", class: "custom-input-icon", id: "menu-icon" %>
    <div class="menu-hidden" id="dropdown-menu">
      <%= link_to 'Edit', edit_user_registration_path(current_user) %>
      <%= button_to "logout", destroy_user_session_path, method: :delete%>
    </div>
  </div>
</div>

<script>
  const menuIcon = document.getElementById('menu-icon');
  const dropdownMenu = document.getElementById('dropdown-menu');
  menuIcon.addEventListener('click', () => {
    dropdownMenu.classList.toggle('menu-visible');
    dropdownMenu.classList.toggle('menu-hidden');
  })
</script>